body {
	font-size: 16px;
	font-family: sans-serif;
}
#mainContainer{
	margin: 5%;
	width: 90%;
}
a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
#tablaMat tr, #tablaRec tr, #tablaBas tr {
width: 100%;
display: inline-table;
}
#tablaMat td, #tablaRec td, #tablaBas td {
	width: 33%;

}
#tablaMat, #tablaRec, #tablaBas {
 height:300px;
}
#tablaMat tbody, #tablaRec tbody, #tablaBas tbody{
  overflow-y: scroll;
  height: 200px;
  width: 100%;
  position: absolute;
}
